body {
	font-family: 'roboto', sans-serif;
	color: #ccc;
	padding: 0;
	margin: 0;
	background: #fff;
}
i {
	/*font-family: fontawesome !important;*/
}
.fa{
	color: #d1d3d5;
}
* {
	box-sizing: border-box;
}

ul, li {
	padding: 0;
	margin: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 27px;
	padding: 93px 0 50px 0;
}

h3 {
	font-size: 18px;
	margin-top: 20px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	height: 90px;
	background-color: #152932;
	margin: 0 auto;
	opacity: 0,5;
	
}

.header__top{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.treck {
	width: 80px;
	height: 38px;

	margin: 26px ;


}
.menu li{
	display: inline-block;
	padding: 30px 20px;

}
nav{
	padding: 0 15px;
	
}
a{
	color: #fff;
	font-size: 13px;
	font-weight: regular;
	text-decoration: none;
}
nav a:hover{
	color:#484848;
	/*color:#118EE6;*/
	cursor: pointer;
	/*background: url('../img/foot.png'); */
	width: 45px;
	height: 59px;
	border-radius: 3px;
	padding: 12px 15px;
	background-color: #dfe6dc;
	justify-content: space-between;
} 

.feet{
	display: none;
	position: absolute;
	top: 10px;
	left: 350px;
	
}
li.feet__item {
	display: inline-block;
	padding: 0 30px;
}
.cta:hover{
	background-color: #fff;
	/*border: 1px solid #EA5455;*/
	box-shadow: 0 2px 2px #e5e5e5;
	color: #EA5455;
}
.cta span:hover{
	color: #000
}
.reasons{
	background-color: #152932;
}
.reasons h2,h3,p{
	color: #ccc;
}
.reasons img{
	background-color: #dfe6dc;
	padding: 15px;
	border-radius: 3px;
}
a .aimer {
    /*background: url('../img/results.png')
    display: block; /*  Рисунок как блочный элемент */
    width: 55px; 
    height:50px; 
}
a .aimer:hover {
	background: url('../img/panic.png'); 
}
.frontpage{
	background: url('../img/bg_scr11.jpg') no-repeat center top;
	background-size: cover;
	padding-top: 67px;
	padding-bottom: 300px;
}
.offer {
	margin-top: 160px;
	color: #111;
}
.main-title {
	font-size: 40px;
	text-align: left;
}
.intro {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 56px;
	-webkit-animation-iteration-count: 3;
}
.j-intro--color{
	color: #c33;
	font-size: 40px;
}
.cta {
	/*display: block;*/
	color: #fff;
	background: #EA5455;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 3px;
	padding: 18px 34px;
	text-decoration: none;
	font-weight: 700;
}

.form .cta {
	box-shadow: 0 1px 2px #b6b6b6;

}
.advantages {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
}
.advantages h3 {
	padding-top: 20px;
	/*	margin: 20px auto;*/
}
.advantages p {
	padding-top: 5px;
	margin: 10px auto 40px;
	line-height: 24px;
}

.advantages__item {
	width: 270px;
	text-align: center;
	position: relative;
	-webkit-animation-duration: 15s;
	/*-webkit-animation-delay: 10s;*/
	/*-webkit-animation-iteration-count: 2;*/
}

.why{
	background-color: #fdfef2;
	color: #333;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	margin: 0;

}
.story{
	display: flex;
	justify-content: space-between;
	margin: 30px;

}
.story__item img{
	float: left;

}
.story__item__txt{
	margin: 0 0 0 80px;


}
.story__item__txt, h5{
	text-align: left;
}
.story__item__txt__base-text{
	width: 458px;
	height: 142px;
	line-height: 24px;
	color: #333;

}

.order {
	background: #28647E;
	padding: 0 0 90px 0;
	margin: 0;
}

.form__input {
	background-color: #dfe6dc;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
	display: block;
	width: 434px;
	height: 60px;
	padding: 20px 24px;
	border: 0;
	box-shadow: 0 1px 2px #b6b6b6;
	margin: 0 auto 9px auto;
}

.form .cta {
	width: 434px;
	border: 0;
	cursor: pointer;
	margin: 20px auto 20px;
	display: block;
}

.footer {
	background: #40454B;
	color: #adadad;
	font-size: 12px;
	text-align: center;
	padding: 50px 0;
}
.j-advantages__item_hidden{
	background-color: #DFEFFF;
	box-shadow: 0 0 8px #777; 
	position: absolute;
	width: 50%;
	border-radius: 4px;
	top: 190px;
	left:90px;
	z-index: 100;
	display: none;
	transition: 5s;

}
span.hilite{
	background-color: yellow;
}
/*.wow{
	display: inline;
	color: red;	*/
}

/*-webkit-animation-duration: 5s;*/
/*-webkit-animation-delay: 10s;*/
/*-webkit-animation-iteration-count: 6s;*/
