
@media  screen and (max-width: 980px){
	nav{
		/*display: none;*/
	}

	.burger{

		display: block;
	}
	.logo {
		margin-top: 3%;
	}
	.header__top{
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.j-logo, .story__item, .frontpage{

		text-align: center;
	}
	.advantages{
		justify-content: center;
	}
	.story{
		margin-bottom: 10%;

	}
	.story__item{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 2%;
	}
	.story__txt{
		margin-bottom: 8%;
	}
	.story__item h4, p{

		text-align: center;
	}

	.frontpage h1{
		text-align: center;
	}
	#order .container{
		padding: 15% 5%;
	}
	

}
@media   screen and (max-width: 480px){
	
	nav {
	display: none;
}
.burger_wrap, .burger{
	
	display: block;

}
.header__top{
	margin: 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.frontpage{
	height: 100%vh;

}
.frontpage h1{
	margin-top: -160px;
	font-size: 35px;
	padding: 10px;
}

.intro{
text-align: center;		
}
.intro h2 {
	
	/*text-transform: uppercase;*/
	font-size: 16px;
	/*font-weight: 400;*/
	margin-top: -80px;
	margin-bottom:-30px;
	-webkit-animation-iteration-count: 3;
}	

.order h5{
	margin: 5% auto 4%;
}

.advantages{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 50px;
	margin: 0;
}
.advantages__item{
	margin: 0;

}
.j-advantages__item-hidden p{
	background-color: #ededed;
	box-shadow: 5px 5px 8px #777; 
	position: absolute;
	width: 45%;
	border-radius: 4px;
	top: 2600px;
	left:80px;
	z-index: 200;
	display: none;
	font-size: 30px;

}
.story{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.slider{
	position: relative;
	width: 400px;
	height: 50vh;
	margin: auto;
	padding: 0;
	text-align: center;
}
.numbertext{
	left: 95px;
	font-size: 10px;
}
.text{
	top: 110px;
	font-size: 10px;
}

.mySlides{
width: 400px;
left: -54px;
}

}

